*.pydevproject
.metadata
.gradle
.recommenders/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.jar




# Eclipse Core
.project


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

Curricula-Vitae-Analyser.git/packed-refs

Curricula-Vitae-Analyser.git/hooks/pre-commit.sample

*.sample

Curricula-Vitae-Analyser.git/config

Curricula-Vitae-Analyser.git/description

Curricula-Vitae-Analyser.git/HEAD

Curricula-Vitae-Analyser.git/info/exclude

Curricula-Vitae-Analyser.git/objects/pack/pack-fea2c2a8906dacdebb300fbf036304e482774cbe.idx

Curricula-Vitae-Analyzer/src/controller/Controller.java

Curricula-Vitae-Analyzer/src/controller/Controller.java

Curricula-Vitae-Analyser.git/objects/pack/pack-fea2c2a8906dacdebb300fbf036304e482774cbe.pack
